.guide-index {
  min-width: 600px;
}

.guide-index-list {
  min-width: 500px;
  width: 50%;
  position: absolute;
  top: 90px;
  right: 0px;
  opacity: .9;
}

.guide-index-list * {
  background-color: black;
}

.guide {
  margin: 60px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;

  box-shadow: 0px 0px 15px grey;
  outline: 5px inset white;
  outline-offset: 20px;
}

.guide h1 * {
  font-size: 27px;
  padding: 0px
}

.guide h2 {
  font-size: small;
  color: grey;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
}

.guide a {
  text-decoration: none;
  color: #D4A25B;
}

.guide a:hover {
  color: rgb(107, 84, 52);
  text-decoration: none;
}

.guide p {
  padding: 5%;
  text-align: justify;
  line-height: 1.5;
}

.guide-brewery {
  opacity: .9;
  background: none;
  outline: none;
  height: 100%;
  margin-bottom: 50px;
}

.guide .gmap-link {
  background-color: #BF965C;
  color: #222121;
  outline: none;
  border: 1px solid #222121;
  padding: 5px;
  transition: 0.3s;
}

.guide .gmap-link:hover {
  background-color: #222121;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.guide-links {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;;
}

.guide-submit {
  margin: 1%;
  padding: 15px;
  background-color: rgb(70, 70, 70);
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  outline: none;
  border: 1px solid black;
  transition: 0.3s;
}

.guide-submit:hover {
  background-color: rgb(173, 173, 173);
  color: #222121;
  border: 1px solid black;
  cursor: pointer;
}