.brewery-index {
  position: absolute;
  min-width: 600px;
  top: 90px;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.brewery-nav {
  position: fixed;
  top: 90px;
  right: 15px;
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: auto;
  height: 87%;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
}

.brewery-nav li {
  height: 20px;
  line-height: 20px;
}

.brewery-nav li:hover {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  color: #BF965C;
  font-size: 20px;
}

.brewery-index-list {
  min-width: 500px;
  width: 60%;
  opacity: .9;
}

.brewery-index-list * {
  background-color: black;
}

.brewery-index-list > * {
  border-radius: 10px;
}

.brewery {
  margin: 60px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;

  box-shadow: 0px 0px 15px grey;
  outline: 5px outset white;
  outline-offset: 20px;
}

.brewery h1 * {
  text-shadow: 0px 0px 5px rgb(134, 87, 0);
  font-size: 32px;
  padding: 0px
}

.brewery h2 {
  font-size: small;
  color: grey;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
  line-height: 20px;
}

.brewery-photo {
  margin-top: 5%;
  width: 90%;
  border-radius: 10px;
}

.brewery a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  background: none;
}

.brewery a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.brewery p {
  padding: 5%;
  text-align: justify;
  line-height: 1.5;
}

.brewery .gmap-link {
  background-color: #BF965C;
  color: #222121;
  outline: none;
  border: 1px solid #222121;
  padding: 5px;
  transition: 0.3s;
}

.brewery .gmap-link:hover {
  background-color: #222121;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.brewery.show {
  background: black;
  margin-top: 150px;
  max-width: 775px;
  border-radius: 10px;
}

.brewery-yelp {
  margin-top: 30px;
}

.brewery-yelp * {
  margin: 10px;
}

.yelp-stars {
  width: 200px;
}

.review {
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yelp-user {
  max-width: 200px;
  max-height: 200px;
}