.brewery-index {

}

.brewery-index-list {
  min-width: 600px;
  width: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 150px;
}

.brewery {
  margin: 60px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;

  outline: 5px inset white;
  outline-offset: 20px;
}

.brewery h1 * {
  font-size: larger;
  color: #D4A25B;
  font-weight: bold;
  margin: 5px;
}

.brewery h2 {
  font-size: small;
  color: grey;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
}

.brewery a {
  text-decoration: none;
  color: #D4A25B;
}

.brewery a:hover {
  color: rgb(107, 84, 52);
  text-decoration: none;
}

.brewery p {
  padding: 5%;
  word-spacing: 0.2em;
  text-align: justify;
}

.gmap-link {
  background-color: #BF965C;
  color: #222121;
  outline: none;
  border: 1px solid #222121;
  padding: 5px;
}



.gmap-link:hover {
  background-color: #222121;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
