.brewery-index {
  position: absolute;
  min-width: 600px;
  top: 120px;
  left: 0;
  bottom: 0;
}

.brewery-nav {
  position: fixed;
  top: 90px;
  left: 51%;
  list-style: none;
  z-index: 5;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  font-size: auto;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.brewery-nav li {
  height: 20px;
  line-height: 20px;
}

.brewery-nav li:hover {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  color: #BF965C;
  font-size: 20px;
}

.brewery-index-list {
  min-width: 500px;
  width: 55%;
  opacity: .9;
}

.brewery-index-list * {
  background-color: black;
}

.brewery-index-list > * {
  border-radius: 10px;
}

.brewery {
  margin: 60px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;

  box-shadow: 0px 0px 15px grey;
  outline: 5px inset white;
  outline-offset: 20px;
}

.brewery h1 * {
  text-shadow: 0px 0px 5px rgb(134, 87, 0);
  font-size: 32px;
  padding: 0px
}

.brewery h2 {
  font-size: small;
  color: grey;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
}

.brewery-photo {
  margin-top: 5%;
  width: 90%;
  border-radius: 10px;
}

.brewery a {
  text-decoration: none;
  color: #D4A25B;
  transition: 0.3s;
}

.brewery a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.brewery p {
  padding: 5%;
  text-align: justify;
  line-height: 1.5;
}

.brewery .gmap-link {
  background-color: #BF965C;
  color: #222121;
  outline: none;
  border: 1px solid #222121;
  padding: 5px;
  transition: 0.3s;
}

.brewery .gmap-link:hover {
  background-color: #222121;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}


.beer-diagram-container {
  width: 50%;
  position: fixed;
  top: 155px;
  right: 0px;
  overflow: hidden;
}

.beer-diagram {
  width: 80%;
  min-width: 450px;
}

.beer-diagram:hover {
  overflow-y: scroll
}