.city-index {
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // background-color: rgb(15, 15, 15);
  width: 60%;
  min-width: 600px;
}

.city-index-list {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  border: 5px solid black;
}

.city-info {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 300px;
  height: 100px;
  transition: 0.3s;

  flex: 1 0 21%;
  padding: 3%;

  display: grid;
  line-height: 100px;
  text-decoration: none;
  border: 5px solid black;
}

.city-info:hover {
  opacity: 0.5;
}

.city-info div {
  font-size: 28px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding: 1%;
  background-color: rgba(134, 134, 134, 0.432);
  vertical-align: middle;
  border-radius: 10px;
}

.city-guides {
  text-decoration: none;
  color: rgb(180, 136, 73);
}

.city-guides:hover {
  opacity: .5;
}

.city-guides h1 * {
  font-size: 35px;
  padding: 0px;
  position: sticky;
}

.city-guides h2 {
  color: grey;
  padding-top: 3%;
}

.city-show {
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.city-show * {
  // border: none;
}