.city-index {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(15, 15, 15);
}

.city-index-list {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city-info {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100px;
  height: 100px;
  transition: 0.3s;

  flex: 1 0 21%;
  margin: 3%;
  padding: 3%;

  display: grid;
  line-height: 100px;
}

.city-info:hover {
  opacity: 0.5;
}

.city-info a {
  font-size: 28px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding: 1%;
  background-color: rgba(134, 134, 134, 0.432);
  vertical-align: middle
}

.city-info a:hover {
  color: rgb(107, 84, 52);
  text-decoration: none;
}