.city-index {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(15, 15, 15);
  width: 1200px;
  min-width: 600px;
}

.city-index-list {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.city-info {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 300px;
  height: 100px;
  transition: 0.3s;

  flex: 1 0 21%;
  margin: 0.5%;
  padding: 3%;

  display: grid;
  line-height: 100px;
  text-decoration: none;
}

.city-info:hover {
  opacity: 0.5;
}

.city-info div {
  font-size: 28px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding: 1%;
  background-color: rgba(134, 134, 134, 0.432);
  vertical-align: middle;
  border-radius: 10px;
}

.city-show {
  top: 400px;
}

.city-show > h1 {
  padding-top: 10px;
  background-color: inherit;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(194, 194, 194);
  text-decoration: none;
}