.city-index {
  
}

.city-index-list {
  width: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 150px;
}

.city-info {
  margin: 3%;
  padding: 3%;
}

.city-info h1 {
  font-size: larger;
}

.city-info a {
  text-decoration: none;
  color: #D4A25B;
}

.city-info a:hover {
  color: rgb(107, 84, 52);
  text-decoration: none;
}