.forum, .post-show  {
  color: white;
  background: black;

  min-height: 100vh;
  height: 100%;
  width: 700px;
  box-sizing: border-box;
}

.forum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  padding-top: 120px;
}


.post-show {
  padding: 20% 15% 15% 15%;

  height: 100vh;
  width: 700px;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

.post-form-container {
  width: 60%;
  min-width: 550px;
}

.forum h1 {
  text-align: center;
  font-size: 40px;
}

.forum li:hover {
  padding-bottom: 30px;
  border-bottom: 2px solid white;
  cursor: default;
}

.forum a {
  text-decoration: none;
}

.post {
  list-style-type: none;
  box-sizing: border-box;
  
  padding: 0px 30px 30px 30px;
  margin: 20px;
  transition: 0.3s;
  border-bottom: 2px solid white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 575px;
}

.post h2, .post-show h2, .post h4, .post-show h4 {
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.post h4, .post-show h4 {
  font-size: 13px;
  text-align: right;
}

.post p, .post-show p {
  font-size: 17px;
  text-align: left;
  line-height: 1.3;
}

.post-show p {
  padding: 10px;
}

.post-form {
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px 15px 20px;
  width: 100%;
  min-width: 550px;

  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.post-form input {
  outline: none;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.post-form .write {
  width: 50%;
}

.post-form-submit {
  outline: none;
  transition: .3s;
}

.post-form-submit:hover {
  opacity: 0.5;
  cursor: pointer;
}