.guide-index {
  margin: 150px;
  min-width: 600px;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.guide-index-list {
  position: absolute;
  min-width: 500px;
  width: 60%;
  top: 90px;
  right: 0px;
  opacity: .9;
}

.guide-index-list * {
  background-color: black;
}

.guide {
  margin: 60px;
  margin-left: 10%;
  margin-right: 10%;
  border: 5px solid rgb(180, 136, 73);

  border-radius: 10px;
  box-shadow: 0px 0px 15px grey;
  outline: 0px inset white;
  outline-offset: 20px;
  background-color: black;
  min-width: 460px;
}

.city-photo {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  margin-bottom: 5%;
}

.guide-info {
  padding: 5%;
  border-bottom: 1px solid rgb(180, 136, 73);
}

.guide h1 * {
  font-size: 35px;
  padding: 0px;
  position: sticky;
}

.guide h2 {
  color: grey;
  padding-top: 3%;
}

.guide a {
  text-decoration: none;
  color: rgb(180, 136, 73);
}

.guide a:hover {
  opacity: .5;
}

.guide p {
  padding: 5%;
  text-align: justify;
  line-height: 1.5;
}


.guide-brewery {
  opacity: .9;
  background: none;
  height: 100%;
  margin: 10%;
}

.guide-brewery h1 * {
  font-size: 30px;
}

.guide-brewery h2 {
  font-size: small;
  color: grey;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;
}

.guide-brewery a {
  text-decoration: none;
  color: #BF965C;
}

.guide-brewery a:hover {
  color: rgb(180, 136, 73);
  text-decoration: none;
}

.guide-brewery p {
  padding: 5%;
  text-align: justify;
  line-height: 1.5;
}

.guide .gmap-link {
  background-color: #BF965C;
  color: #222121;
  border: 1px solid #222121;
  padding: 5px;
  transition: 0.3s;
  margin: 10px;
}

.guide .gmap-link:hover {
  background-color: rgb(180, 136, 73);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(180, 136, 73);
  cursor: pointer;
}

.guide-update {
  position: absolute;
  top: 18.5%;
  right: 15%;
  padding: 5px;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
  transition: 0.3s;
  font-size: 12px;
  background-color: rgb(88, 32, 32);
  z-index: 3;
}

.guide-update:hover {
  background-color: rgb(155, 0, 0);
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

#guide-delete {
  background-color: #BF965C;
  color: #222121;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
  border: 1px solid #222121;
  transition: 0.3s;
}

#guide-delete:hover {
  background-color: #222121;
  color: #BF965C;
  cursor: pointer;
}
