.guide-form {
  position: absolute;
  top: 90px;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  width: 55%;
  min-width: 600px;
  height: 89vh;
  box-sizing: border-box;
}

.guide-form h1 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
}

.guide-form textarea {
  resize: none;
  height: 200px;
}

.guide-form * {
  width: 60%;
  align-self: center;
  font-family: 'Alata', sans-serif;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.guide-form input, .guide-form textarea, .guide-form select {
  padding-left: 20px;
  padding-right: 20px;
}

.guide-form input, .guide-form textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}

.breweries-select {
  width: 80%;
  position: relative;
}

.guide-form-errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guide-form-errors * {
  padding: 0px;
}