.guide-preview {
  margin: 20px;
  max-width: 500px;
  min-width: 350px;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  transition: .3s;
  box-sizing: border-box;

  flex: 1 0 31%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.guide-preview:hover {
  opacity: .7;
}

.guide-preview-info {
  margin: 10%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
}

.guide-preview-info:hover {
  cursor: pointer;
}

.guide-preview h1 {
  font-size: 30px;
  position: sticky;
}

.guide-preview h2 {
  color: rgb(150, 150, 150);
  padding-top: 1%;
  padding-bottom: 2%;
  text-shadow: none;
}

.guide-preview {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.guide-preview p {
  padding: 5%;
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;

  overflow: hidden;
  display: inline-block;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}