.guide-form {
  position: absolute;
  top: 90px;
  background: black;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;

  width: 55%;
  min-width: 600px;
  height: 89vh;
  box-sizing: border-box;
}

.guide-form h1 {
  font-size: 30px;
  color: white;
}

.guide-form textarea {
  resize: none;
  height: 200px;
}

.guide-form * {
  width: 60%;
  align-self: center;
  font-family: 'Alata', sans-serif;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.breweries-select {
  width: 80%;
  text-align-last:center;

  display: flex;
  flex-direction: column;
}