.guide-preview {
  margin: 20px;
  max-width: 600px;
  min-width: 350px;
  border: 5px outset rgb(167, 167, 167);
  box-shadow: 0px 0px 5px grey;
  transition: .3s;
  box-sizing: border-box;

  flex: 1 0 31%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.guide-preview:hover {
  opacity: .7;
}

.guide-preview-info {
  margin: 10%;
  padding: 5%;
  background-color: rgba(134, 134, 134, 0.432);
  min-height: 320px;
  border-radius: 10px;
}

.guide-preview-info:hover {
  cursor: pointer;
}
.guide-preview h1 {
  font-size: 27px;
  position: sticky;
}

.guide-preview h2 {
  color: black;
  padding-top: 1%;
  padding-bottom: 2%;
  text-shadow: none;
  border-bottom: 1px solid white;
}

.guide-preview a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.guide-preview p {
  padding: 5%;
  text-align: justify;
  line-height: 1.5;

  overflow: hidden;
  display: inline-block;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

 .read-more {
  border-radius: 5px;
  font-size: 15px;
  background-color: #BF965C;
  padding-right: 5px;
  padding-left: 5px;
  transition: 0.3s;
}

 .read-more:hover {
  background-color: rgb(180, 136, 73);
  cursor: pointer;
}