nav {
  width: inherit;
  height: 90px;
  border-bottom: 1px solid rgb(172, 172, 172);
  position: sticky;
  z-index: 3;
  top: 0;
}

.nav-logo {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  padding: 25px;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  background-color: #daa520;
  box-shadow: 0px 0px 10px rgb(194, 194, 194);
  text-shadow: 2px 2px 5px rgb(194, 194, 194);
  margin-right: 10px;
  vertical-align: none;
}

.nav-welcome {
  font-size: 20px;
  padding-top: 5px;
  box-sizing: border-box;
}

nav, .nav-index, .nav-contact {
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  box-sizing: border-box;
}

.nav-index, .nav-contact {
  vertical-align: baseline;
  margin-top: 30px;
}

.nav-index *, .nav-contact * {
  padding: 5px;
  flex: 0 1 auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #daa520;
}

li:hover:not(.active) {
  color: rgb(117, 0, 0);
  cursor: pointer;
  padding-bottom: 15px;
  border-bottom: 2px solid #daa520;
}

li:active {
  border: 1px dotted #daa520;
  cursor: pointer;
}

.nav-search, .not-logged {
  text-decoration: none;
}

.nav-index-cities, .nav-index-more {
  display: flex;
  flex-direction: column;
}


.fa {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  width: 30px;
  text-decoration: none;
  color: #daa520;
}

.fa:hover {
  opacity: 0.5;
}

.not-hidden {
  position: absolute;
  top: 50px;
  width: 50px;
  z-index: 2;
}

.logout {
  height: 25px;
  line-height: 5px;
  width: 70px;
  text-align: center;
}

.fa-envelope {
  border: 1px solid #daa520;
  padding: 5px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #daa520;
  min-width: 70px;
  z-index: 1;
}

.dropdown span {
  background: none;
}

.dropdown-content * {
  color: #daa520;
  display: block;
}

.dropdown-content *:hover {
  background-color: #daa520;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}