.profile {
  position: absolute;
  top: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile span {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.profile h1 {
  font-size: 30px;
  color: #BF965C;
}

.profile h2 {
  font-size: 25px;
  color: #BF965C;
}

.profile h3 {
  font-size: 17px;
  transition: 0.3s;
}

.profile h3:hover {
  opacity: 0.5;
}

.profile div {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  min-height: 250px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px white;
}

.profile span div {
  min-width: 300px;
  width: 50%;
}

.user-breweries {
  min-width: 650px;
  width: 90%;
}