.search-bar-container {
  background: white;
  border-radius: 5px;
}

.search-form {
  display: flex;
  justify-content: right;
  align-items: center;
}

.search-form-input {
  color: black;
  border: none;
  margin: 10px;
}

.search-form-input:focus {
  outline: none;
}

.search-form-submit {
  display: none;
}

.search-form-submit:hover {
  background-color: #222121;
  color: white;
  border: 1px solid rgb(70, 70, 70);
  cursor: pointer;
}

.fa-search, .fa-search:hover {
  color: black;
  opacity: 1;
}

.search-form-input, li.search {
  height: 20px;
  width: 250px;
  box-sizing: border-box;
}

li.search {
  width: inherit;
  color: black;
  margin: 5px 10px 5px 10px;
  font-family: 'Alata', sans-serif;
  font-size: 12px;
  text-align: left;
}

li.search:hover {
  padding: 0px;
  border: none;
}