.search-bar-container {
  background: white;
  border-radius: 5px;
}

.search-form {
  display: flex;
  justify-content: right;
  align-items: center;
}

.search-form-input {
  text-align: center;
  color: black;
  border: none;
  margin-left: 5px;
}

.search-form-input:focus {
  outline: none;
}

.search-form-submit {
  display: none;
}

.search-form-submit:hover {
  background-color: #222121;
  color: white;
  border: 1px solid rgb(70, 70, 70);
  cursor: pointer;
}

.fa-search {
  color: black;
}

.fa-search:hover {
  cursor: pointer;
}