/*
form-container flex-center
  links
    session-link login
    session-link signup
  form flex-center
    input
    input / hidden
    input submit
  forgot-container / hidden
*/

html {
  font-family: 'Source Sans Pro', sans-serif;
}

.form-container {
  background-color: white;
  box-shadow: 2px 2px 15px rgb(194, 194, 194);
  border-radius: 5px;
  width: 400px;
  height: 550px;
}

.logo {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  padding: 50px;
  margin: 20px;
  height: 70px;
  line-height: 15px;
  color: white;
  font-weight: bold;
  background-color: red;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(194, 194, 194);
  text-shadow: 2px 2px 5px rgb(194, 194, 194);
}

.flex-center {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}


.session-link {
  text-transform: uppercase;
  font-size: 130%;
  background-color: white;
  padding: 8px;
  margin: 20px;
  text-decoration: none;
}

.inactive:hover, .active, .forgot:hover {
  color: black;
}

.inactive, .forgot {
  color: red;
  text-decoration: none;
}

.form {
  border-top: 1px solid grey;
  width: inherit;
  margin-top: 10px
}

.input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  color: grey;
}

.submit {
  background-color: red;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
}

.submit:hover {
  background-color: black;
}


.forgot-container {
  font-size: 15px;
  margin: 15px;
  color: grey;
}

.forgot {
  font-size: 12px;
}

.hidden {
  display: none;
}