nav {
  width: inherit;
  height: 120px;
  border-bottom: 1px solid black;
}

.nav-logo {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  height: inherit;
  line-height: inherit;
  padding: 25px;
  color: white;
  font-weight: bold;
  background-color: red;
  box-sizing: border-box;
}

.nav-welcome {
  font-size: 20px;
  padding-top: 5px;
  box-sizing: border-box;
}

nav, .nav-index, .nav-contact {
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  box-sizing: border-box;
}

.nav-index *, .nav-contact * {
  padding: 5px;
  flex: 0 1 auto;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(238, 0, 0);
}

li:hover:not(.active) {
  color: rgb(117, 0, 0);
  cursor: pointer;
  text-decoration: underline;
}

li:active {
  border: 1px dotted red;
  cursor: pointer;
}

.nav-search, .not-logged {
  text-decoration: none;
}

.nav-index-cities, .nav-index-more {
  display: flex;
  flex-direction: column;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}