.nav-container {  
  background-color: #222121;
  justify-content: space-between;
}

nav {
  padding-top: -1%;
  height: 90px;
  border-bottom: 1px solid rgb(172, 172, 172);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
}

.welcome {
  padding: 25px;
  padding-bottom: 20px;
  background-color: #BF965C;
  box-shadow: 0px 0px 10px rgb(194, 194, 194);
  margin-right: 10px;
  vertical-align: none;
  margin-left: 5%;
  border-radius: 10px;
}

.nav-logo {
  padding-top: 10px;
  background-color: inherit;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(194, 194, 194);
  text-decoration: none;
}

.nav-welcome {
  background-color: inherit;
  font-family: 'Catamaran', sans-serif;
  color: white;
  font-size: 16px;
  padding-top: 5px;
  box-sizing: border-box;
}

nav, .nav-index, .nav-contact {
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  box-sizing: border-box;
}

.nav-index, .nav-contact {
  padding-left: 8%;
  vertical-align: baseline;
  margin-top: 30px;
  background-color: #222121;
}

.nav-index *, .nav-contact * {
  padding: 5px;
  flex: 0 1 auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #BF965C;
}

li:hover:not(.active) {
  color: rgb(117, 0, 0);
  cursor: pointer;
  padding-bottom: 15px;
  border-bottom: 2px solid #BF965C;
  transition: 0.3s;
}

li:active {
  cursor: pointer;
}

.nav-search, .not-logged {
  text-decoration: none;
}

.nav-index-cities, .nav-index-more {
  display: flex;
  flex-direction: column;
}


.fa {
  padding: 5px;
  margin: 0px;
  font-size: 20px;
  width: 30px;
  text-decoration: none;
  color: #BF965C;
  transition: 0.3s;
}

.fa:hover {
  opacity: 0.5;
}

.not-hidden {
  position: absolute;
  top: 50px;
  width: 50px;
}

.logout {
  height: 25px;
  line-height: 5px;
  width: 70px;
  text-align: center;
  margin-right: 5%;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222121;
}

.dropdown span {
  background: none;
}

.dropdown-content * {
  color: #BF965C;
  display: block;
  text-align: left;
  transition: 0.3s;
}

.dropdown-content *:hover {
  background-color: #BF965C;
  color: #222121;
}

.dropdown:hover .dropdown-content {
  display: block;
}