nav {
  width: inherit;
  height: 60px;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.nav-logo {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 50px;
  height: inherit;
  line-height: inherit;
  padding: 25px;
  color: white;
  font-weight: bold;
  background-color: rgb(220, 0, 0);
  box-sizing: border-box;
}

.nav-welcome {
  font-size: 20px;
  padding-top: 5px;
  box-sizing: border-box;
}

nav, .nav-index, .nav-contact {
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  box-sizing: border-box;
}

.nav-index *, .nav-contact * {
  padding: 5px;
  flex: 0 1 auto;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(220, 0, 0);
}

li:hover:not(.active) {
  color: rgb(117, 0, 0);
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid red;
}

li:active {
  border: 1px dotted rgb(220, 0, 0);
  cursor: pointer;
}

.nav-search, .not-logged {
  text-decoration: none;
}

.nav-index-cities, .nav-index-more {
  display: flex;
  flex-direction: column;
}


.fa {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  width: 30px;
  text-decoration: none;
  color: rgb(220, 0, 0);
}

.fa:hover {
  opacity: 0.5;
}

.not-hidden {
  position: absolute;
  top: 50px;
  width: 50px;
  z-index: 2;
}

.logout {
  height: 25px;
  line-height: 5px;
  width: 65px;
  text-align: center;
}

.fa-envelope {
  border: 1px solid red;
  padding: 5px;
}