.splash-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 150px;
  padding-top: 75px;
}

.pic-left {
  width: 444px;
  height: 666px;
  border: 3px solid #222121;
}

.pics-right {
  width: 466px;
  border: 3px solid #222121;
}

.splash-items.right {
  display: flex;
  flex-direction: column;
  max-height: inherit;
}

.splash-items {
  width: inherit;
}

.pic-left:hover, .pics-right:hover {
  opacity: 0.5;
}